<head>
    <meta charset="UTF-8"/>
    <title>HTML with CSS</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>

    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inventory > 100">In Stock</p>
                <p v-else-if="inventory <= 100 & inventory > 0">Stock limited</p>
                <p v-else="inventory === 0 ">Out of Stock</p>

                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>
                
                <button id="buyButton" v-on:click="addToCart">Add to Cart</button>
                <button id="removeButtin" v-on:click="removeFromCart">Remove from Cart</button>


                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
            </div>
            
            
        </div>

        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    
</body>
